.contacts {
  padding-top: 23px;
}

.contacts-title {
  @include h2;
  text-align: center;
}

.contacts-list {
  margin-top: 35px;
  margin-bottom: 43px;
}

.contacts-item {
  text-align: center;
}

.contacts-item__title {
  @include ff(18px, 700, 24px);
}

.contacts-item__text {
  @include ff(24px, 300, 30px);
  color: #d22856;
  margin-bottom: 22px;
}

.contacts-map {
  position: relative;

  &::before {
    @include pseudo;
    background: #000000;
    z-index: 1;
    background: url("../img/icon-map-marker.svg") no-repeat;
    width: 36px;
    height: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-18px);
  }
}

.contacts-iframe {
  width: 100%;
  height: 200px;
  border: none;
}

@media ($tablet) {

  .contacts {
    padding-top: 48px;
  }

  .contacts-title {
    @include h2-tablet;
    width: 370px;
    margin: 0 auto;
  }

  .contacts-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 42px 0 5px 0;
    padding: 0 10px;
  }

  .contacts-item:nth-child(1) {
    margin-right: auto;
    margin-left: 37px;
  }

  .contacts-item:nth-child(2) {
    margin-left: auto;
    margin-right: 19px;
  }

  .contacts-item:nth-child(3) {
    align-self: center;
    width: 212px;
    margin-top: 25px;
  }

  .contacts-item__title {
    margin-bottom: 4px;
  }

  .contacts-iframe {
    height: 374px;
  }
}

@media ($desktop) {

  .contacts-title {
    @include h2-desktop;
    width: 465px;
  }

  .contacts-item:nth-child(1) {
    order: 1;
  }

  .contacts-item:nth-child(2) {
    order: 3;
  }

  .contacts-item:nth-child(3) {
    order: 2;
  }

  .contacts-item {
    width: 215px;
  }

  .contacts-iframe {
    height: 502px;
  }
}
