.download {
  background-color: #1d2631;
}

.download-btn {
  color: #ffffff;
  text-decoration: none;
}

.download-list {
  display: flex;
  justify-content: space-around;
}

.download-text {
  color: #ffffff;
}
