.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0 62px 0;

  &--index {
    display: none;
  }
}

.footer__logo {
  font-size: 0;
  margin-bottom: 40px;
}

.footer__social {
  width: 177px;
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.footer__social-item {
  position: relative;
  display: block;
  width: 51px;
  height: 51px;
  font-size: 0;
  box-sizing: border-box;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;

  &:hover {
    border: 3px solid #283645;
  }

  &:active {
    border: 3px solid rgba(40, 54, 69, 0.1);
    opacity: .3;
  }
}

.footer__copyright {
  color: #000000;
  position: relative;
  @include ff(14px, 400, 18px);
  text-decoration: none;
  width: 130px;
}

@media ($tablet) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
  }

  .footer__logo {
    margin-bottom: 0;
    align-self: flex-start;
  }

  .footer__social {
    display: flex;
    justify-content: space-around;
    margin-right: 19px;
    margin-bottom: 0;
    width: 188px;
    height: 51px;
  }

  .footer__copyright {
    width: 130px;
    margin-top: 7px;
  }
}

@media ($desktop) {

  .footer {
    padding-top: 99px;
    padding-bottom: 72px;
  }

  .footer__copyright {
    @include ff(18px, 400, 18px);
    width: 154px;
    margin-top: 0;
  }

  .footer__social {
    margin-right: -14px;
    margin-top: 4px;
  }

  .footer--index {
    padding-top: 70px;
  }
}
