.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--index {
    display: none;
  }
}

.footer-logo {
  font-size: 0;
}

.footer-social__item {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 51px;
  font-size: 0;
  box-sizing: border-box;
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}

.footer-copyright {
  position: relative;
  @include ff(14px, 400, 18px);
  text-decoration: none;
}

@media ($tablet) {

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0;
  }


  .footer-social {
    display: flex;
    justify-content: space-around;
    margin-right: 19px;
    width: 188px;
    height: 51px;
  }

  .footer-copyright {
    width: 128px;
  }
}

@media ($desktop) {

  .footer-copyright {
    @include ff(18px, 400, 18px);
    width: 150px;
  }
}
