.form {
  padding-top: 45px;
  padding-bottom: 16px;
}

.form__title {
  @include ff(14px, 400, 30px);
  width: 275px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 34px;
}

.form__subtitle {
  display: none;
}

.form__user {
  margin-bottom: 43px;
}

.form__user-item {
  margin-bottom: 20px;
}

.form__user-item label {
  display: block;
  @include ff(14px, 400, 30px);
  color: #d22856;
  text-transform: uppercase;
  padding-left: 22px;
  margin-bottom: 5px;
}

.form__user-item input {
  @include ff(18px, 400, 24px);
  outline: 0;
  width: 255px;
  padding: 18px 0 15px 21px;
  border: 2px solid #e5e5e5;
}

.form__progress {
  background: #f2f2f2;
  padding: 25px 0 1px 0;
}

.form__progress-title {
  @include ff(14px, 400, 18px);
  width: 220px;
  text-align: center;
  margin: 12px auto 14px auto;
  padding-bottom: 24px;
  color: #d22856;
  text-transform: uppercase;
}

.form__progress-item {
  @include ff(18px, 400, 30px);
  position: relative;
  padding: 5px 0 4px 70px;
  margin-bottom: 43px;
}

.form__contact {
  padding-top: 32px;
  padding-bottom: 25px;
}

.form__contact-title {
  display: none;
  @include ff(14px, 400, 30px);
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
}

.form__contact-item {
  margin-bottom: 20px;
}

.form__contact-item label {
  @include ff(14px, 400, 30px);
  color: #d22856;
  text-transform: uppercase;
  display: block;
  padding-left: 22px;
  margin-bottom: 4px;
}

.form__contact-item input {
  @include ff(18px, 400, 30px);
  width: 255px;
  outline: 0;
  padding: 14px 0 13px 21px;
  border: 2px solid #e5e5e5;
}

.form__app {
  background: #f2f2f2;
  padding-top: 24px;
  padding-bottom: 7px;
}

.form__app-title {
  @include ff(14px, 400, 18px);
  text-align: center;
  color: #d22856;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 36px;
}

.form__app-item {
  @include ff(18px, 400, 30px);
  margin-bottom: 36px;
  padding: 4px 0 4px 70px;
}

.form__result {
  padding-top: 32px;
}

.form__result-title {
  @include ff(14px, 400, 30px);
  text-align: center;
  text-transform: uppercase;
  color: #d22856;
  margin-bottom: 11px;
}

.form__result-text {
  @include ff(18px, 400, 30px);
  width: 100%;
  height: 200px;
  color: #283645;
  padding: 15px 10px 10px 19px;
  border: 2px solid #e5e5e5;
  resize: none;
  box-sizing: border-box;
  margin-bottom: 46px;
}

.form__submit-btn {
  font-family: $fonts;
  @include ff(18px, 700, 30px);
  width: 100%;
  padding: 16px 45px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  margin-bottom: 36px;
  cursor: pointer;

  &:hover {
    background-color: #1c9b5e;
  }

  &:active {
    background-color: #1c9b5e;
    color: rgba(255, 255, 255, 0.3);
  }
}

.form__submit-required {
  @include ff(14px, 400, 30px);
  text-align: center;
  text-transform: uppercase;
}

.form__submit-sign {
  color: #d22856;
}

.form__submit-hide {
  display: none;
}

.form input,
.form label {
  cursor: pointer;
}

.form input,
.form__result-text {
  font-family: $fonts;
  outline: 0;
}

.form input[type="checkbox"],
.form input[type="radio"] {
  display: none;
}

//.form input[type="checkbox"]:focus + label {
//  outline: 1px solid transparent;
//}

.form input[type="checkbox"] + label,
.form input[type="radio"] + label {
  display: block;
  position: relative;
  cursor: pointer;
}

.form input[type="checkbox"] + label::before {
  @include pseudo;
  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
  top: -5px;
  left: -70px;
}

.form input[type="radio"] + label::before {
  @include pseudo;
  width: 36px;
  height: 36px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  background-color: #ffffff;
  top: -5px;
  left: -70px;
}

.form input[type="checkbox"]:checked + label::after {
  @include pseudo;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 16px;
  top: 7px;
  left: -60px;
}

.form input[type="radio"]:checked + label::after {
  @include pseudo;
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 36px;
  top: -3px;
  left: -68px;
}

.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus {
  border: 2px solid #d22856;
}

.form input[type="checkbox"]:hover + label:before,
.form input[type="radio"]:hover + label:before,
.form input[type="text"]:hover,
.form input[type="tel"]:hover,
.form input[type="email"]:hover {
  border: 2px solid #283645;
}

.form input[type="checkbox"]:active + label:before,
.form input[type="radio"]:active + label:before {
  border: 2px solid #d22856;
}

@media ($tablet) {

  .form {
    padding-top: 91px;
    padding-bottom: 50px;
  }

  .form__container {
    display: flex;
    flex-direction: column;
  }

  .form__user {
    order: 0;
    margin-bottom: 0;
    padding-top: 40px;
  }

  .form__progress {
    order: 4;
    background: #ffffff;
    padding-top: 51px;
    margin: 0 auto;
    margin-top: 65px;
    border: 2px solid #e6e6e6;
    position: relative;
    width: 620px;
    padding-bottom: 6px;
    margin-bottom: 66px;
  }

  .form__contact {
    order: 3;
  }

  .form__app {
    order: 1;
    background: #ffffff;
    border: 2px solid #e6e6e6;
    position: relative;
    width: 620px;
    margin: 0 auto;
    margin-top: 12px;
    padding-top: 52px;
    padding-bottom: 20px;
  }

  .form__app-item {
    margin-left: 29px;
  }

  .form input[type="radio"] + label::before {
    top: -5px;
    left: -60px;
  }

  .form input[type="radio"]:checked + label::after {
    top: -3px;
    left: -58px;
  }

  .form__result {
    order: 5;
    width: 620px;
    margin: 0 auto;
    border: 2px solid #e6e6e6;
  }

  .form__submit {
    order: 6;
  }

  .form__title {
    width: 490px;
    @include ff(18px, 400, 30px);
  }

  .form__subtitle {
    display: block;
  }

  .form__app-list,
  .form__progress-list {
    margin: 0 auto;
  }

  .form__submit .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__submit-btn {
    width: 300px;
    margin-bottom: 0;
  }

  .form__user-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 55px;
    align-items: baseline;
  }

  .form__user-item input {
    flex-grow: 1;
    border: 2px solid #e5e5e5;
    padding: 16px 0 16px 19px;
  }

  .form__user-item label {
    margin-right: 20px;
    padding-left: 0;
  }

  .form__contact,
  .form__progress,
  .form__result {
    position: relative;
  }

  .form__app-title,
  .form__contact-title,
  .form__progress-title,
  .form__result-title {
    @include pseudo;
    padding: 0 25px;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ffffff;
    white-space: nowrap;
    width: auto;
  }

  .form__contact-title {
    padding: 0 30px;
    top: -16px;
  }

  .form__progress-title {
    padding: 0 30px;
    top: -22px;
  }

  .form__result-title {
    padding: 0 37px;
    top: -17px;
  }

  .form__progress-item {
    padding-left: 99px;
  }

  .form input[type="checkbox"] + label::before {
    left: -60px;
  }

  .form input[type="checkbox"]:checked + label::before {
    left: -60px;
  }

  .form input[type="checkbox"]:checked + label::after {
    left: -50px;
  }

  .form__contact {
    margin: 0 auto;
    margin-top: 66px;
    border: 2px solid #e6e6e6;
    width: 620px;
    padding-bottom: 0;
  }

  .form__contact-container {
    padding-left: 39px;
    padding-right: 40px;
    padding-top: 14px;
  }

  .form__contact-item {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;

    &::before {
      @include pseudo;
      background: #e5e5e5;
      top: 2px;
      right: 2px;
      width: 62px;
      height: 57px;
    }

    &::after {
      @include pseudo;
    }
  }

  .form__contact-item:nth-child(1) {

    &::after {
      width: 20px;
      height: 19px;
      top: 21px;
      right: 22px;
      background-image: url("../img/icon-phone.svg");
    }
  }

  .form__contact-item:nth-child(2) {

    &::after {
      width: 18px;
      height: 13px;
      top: 25px;
      right: 23px;
      background-image: url("../img/icon-mail.svg");
    }
  }

  .form__contact-item label {
    order: 1;
    padding-left: 20px;
    padding-top: 11px;
  }

  .form__contact-item input {
    order: 0;
    padding-left: 20px;
    width: auto;
  }

  .form__progress-title {
    white-space: nowrap;
  }

  .form__result {
    padding-top: 43px;
    margin-bottom: 68px;
  }

  .form__result-text {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 194px;
    margin-bottom: 51px;
  }
}

@media ($desktop) {

  .form {
    padding-bottom: 0;
    margin-bottom: -31px;
  }

  .form__title {
    width: 760px;
  }

  .form__subtitle {
    display: inline-block;
  }

  .form__container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 940px;
    margin: 0 auto;
    justify-content: space-between;
  }

  .form__user {
    padding-top: 0;
    margin-top: 53px;
  }

  .form__user-item:nth-child(3) {
    margin-bottom: 0;
  }

  .form__app {
    width: 435px;
    margin: 46px 0 0 auto;
  }

  .form__app-item {
    margin-left: 68px;
  }

  .form__app-list {
    padding-top: 4px;
  }

  .form__progress {
    width: 936px;
    padding-bottom: 13px;
  }

  .form__progress-list {
    width: 820px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 109px;
  }

  .form__progress-item {
    width: 260px;
    padding-left: 0px;
  }

  .form__progress-item:nth-child(1),
  .form__progress-item:nth-child(2) {
    width: 260px;
  }

  .form__progress-item:nth-child(3),
  .form__progress-item:nth-child(4) {
    width: 246px;
  }

  .form__progress-item:nth-child(5),
  .form__progress-item:nth-child(6) {
    width: 210px;
  }

  .form__progress-item:nth-child(1) {
    order: 1;
  }

  .form__progress-item:nth-child(2) {
    order: 4;
  }

  .form__progress-item:nth-child(3) {
    order: 2;
  }

  .form__progress-item:nth-child(4) {
    order: 5;
  }

  .form__progress-item:nth-child(5) {
    order: 3;
  }

  .form__progress-item:nth-child(6) {
    order: 6;
  }

  .form__result {
    width: 936px;
    padding-top: 39px;
  }

  .form__result-text {
    width: 820px;
    padding-left: 16px;
    height: 130px;
    margin-bottom: 42px;
  }

  .form__contact {
    width: 936px;
    margin-top: 64px;
    padding-top: 29px;
  }

  .form__contact-container {
    width: 820px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 14px 0 0 0;
  }

  .form__contact-item {
    width: 374px;
    margin: 0 0 14px 0;
  }

  .form__contact-item input,
  .form__contact-item label {
    padding-left: 17px;
    margin-bottom: 0;
  }

  .form__submit {
    width: 940px;
  }

  .form__submit .wrapper {
    width: 940px;
    padding: 0 0;
  }

  .form__submit-required {
    text-align: left;
  }

  .form__submit-hide {
    display: inline-block;
  }
}
