.info-list {
  background: #f2f2f2 url("../img/iphone-screen-mobile@1x.png") no-repeat;
  background-position: 50% 112%;
  padding-bottom: 300px;
}

.info-title,
.info-subtitle {
  text-align: center;
}
