.popup-success {
  @include ff(18px, 700, 24px);
  background: #ffffff;
  display: none;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 25px;
  position: fixed;
  text-align: center;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .35);
}

.popup-success__show {
  display: block;
}

.popup-success__head {
  margin-bottom: 30px;
}

.popup-success__text {
  padding: 0 25px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.popup-success__btn {
  height: 163px;
  box-sizing: border-box;
  background: #f2f2f2;
  font-size: 18px;
  line-height: 30px;
  padding-top: 48px;
}

.popup-success__btn-close {
  width: 280px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  padding: 16px 45px 16px 45px;
  margin-bottom: 22px;
  cursor: pointer;
}

@media ($tablet) {

  .popup-success {
    width: 460px;
  }

  .popup-success__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 71px;
  }

  .popup-success__text {
    font-size: 18px;
    padding: 0 71px;
  }
}

@media ($desktop) {

  .popup-success {
    width: 780px;
  }

  .popup-success__text {
    padding: 0 190px;
  }

  .popup-success__btn-close {
    width: 460px;
  }
}
