.popup {
  @include ff(18px, 700, 24px);
  background: #ffffff;
  display: none;
  width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 25px;
  position: fixed;
  text-align: center;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
}

.popup__show {
  display: block;
}

.popup__title {
  margin-bottom: 30px;
}

.popup__text {
  padding: 0 20px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 30px;
}

.popup__btn {
  width: 280px;
  box-sizing: border-box;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  padding: 16px 45px 16px 45px;
  margin-bottom: 42px;
  font-size: 18px;
  line-height: 30px;
  cursor: pointer;
}

@media ($tablet) {

  .popup {
    width: 460px;
  }

  .popup__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0 71px;
  }

  .popup__text {
    font-size: 18px;
    padding: 0 71px;
  }
}
