.review-item {
  display: none;

  &--active {
    display: flex;
    flex-direction: column;
  }
}

.review-item {
  text-align: center;
}

.review-item__name {
  @include ff(18px, 700, 30px);
}

.review-item__text {
  @include ff(14px, 400, 30px);
}
