.review {
  padding-top: 42px;
}

.review__item {
  display: none;
  text-align: center;

  &--active {
    display: flex;
    flex-direction: column;
  }
}

.review__item-status {
  display: none;
}

.review__item-name {
  @include ff(18px, 700, 30px);
}

.review__item-text {
  @include ff(14px, 400, 30px);
}

.review__sliders {
  width: 62px;
  display: flex;
  justify-content: space-between;
  margin: 18px auto 0 auto;
}

.review__sliders-item {
  display: inline-block;
  width: 6px;
  height: 6px;
  border: 3px solid #f2f2f2;
  border-radius: 50%;
  background-color: #283645;
  opacity: .3;
  cursor: pointer;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .1;
  }

  &--active {
    background-color: #ffffff;
    border: 3px solid #283645;
    opacity: 1;
  }
}

.review__list-link {
  display: none;
}

@media ($tablet) {

  .review {
    padding-top: 77px;
  }

  .review__list {
    margin-bottom: 33px;
  }

  .review__item-name {
    order: 2;
    @include ff(20px, 700, 30px);
    margin-bottom: 3px;
  }

  .review__item-text {
    order: 1;
    @include ff(18px, 400, 30px);
    margin-bottom: 35px;
  }

  .review__item-status {
    @include ff(14px, 400, 30px);
    display: block;
    order: 3;
  }
}

@media ($desktop) {

  .review {
    padding-top: 72px;
    margin-bottom: 37px;
  }

  .review__main {
    position: relative;
  }

  .review__item {
    width: 690px;
    margin: 0 auto;
  }

  .review__item-name {
    @include ff(24px, 700, 30px);
  }

  .review__item-text,
  .review__item-status {
    @include ff(18px, 400, 30px);
  }

  .review__sliders {
    display: none;
  }

  .review__list {
    position: relative;
    margin-top: 30px;
  }

  .review__list-link {
    display: block;
    position: absolute;
    width: 21px;
    height: 41px;
    font-size: 0;
    top: 50px;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
