.upload-form {
  background: #f2f2f2;
}

.upload-top {
  @include ff(14px, 400, 30px);
  text-align: center;
}

.upload-options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload-options__item {
  display: block;

  &--contrast {
    width: 44px;
    height: 44px;
  }

  &--bright {
    width: 48px;
    height: 43px;
  }

  &--temperature {
    width: 33px;
    height: 33px;
  }
}

.upload-filter {
  margin: 0 auto;
  width: 240px;

}

.upload-filter__item {
  position: relative;
  display: none;
  padding: 35px 0;

  &--active {
    display: block;
  }

  &::before {
    @include pseudo;
    background: #000000;
    width: 100%;
    height: 2px;
  }

  &::after {
    @include pseudo;
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 10px;
    top: 28px;
    right: 20px;
  }
}

.upload-submit {
  display: flex;
  flex-direction: column;
}

.upload-submit__item {
  @include ff(18px, 700, 18px);
  border-radius: 35px;
  padding: 14px 0 17px 0;

  &--post {
    border: 3px solid #d22856;
    color: #d22856;
  }

  &--cansel {
    border: 3px solid #000000;
    opacity: 0.1;
  }
}

@media ($tablet) {

  .upload-top {
    @include ff(18px, 400, 30px);
  }

  .upload-form .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .upload-container {
    width: 300px;
    box-sizing: border-box;
    padding: 0 18px 0 25px;
    outline: 1px solid red;
  }

  .upload-filter {
    width: 202px;
    margin: 0 0 0 auto;
  }

  .upload-filter__item {
    display: block;
  }
}
