.upload {
  padding-top: 23px;
}

.upload__form {
  background: #f2f2f2;
}

.upload__top {
  @include ff(14px, 400, 30px);
  text-align: center;
  margin-bottom: 42px;
}

.upload__form .wrapper {
  padding-top: 20px;
}

.upload__img {
  margin-left: -2px;
  margin-bottom: 37px;
}

.upload__options {
  display: flex;
  padding: 0 46px 0 34px;
  justify-content: space-between;
  align-items: center;
}

.upload__options-item {
  display: block;
  padding: 0;
  border: none;
  background: transparent;
  font-size: 0;

  &--bright {
    margin-left: -9px;
  }
}

.upload__filter {
  margin: 2px auto 0 auto;
  width: 240px;
}

.upload__filter-item {
  position: relative;
  display: none;
  padding: 35px 0;

  &--active {
    display: block;
  }

  &::before {
    @include pseudo;
    background: #000000;
    width: 100%;
    height: 2px;
  }

  &::after {
    @include pseudo;
    width: 10px;
    height: 10px;
    background-color: #f2f2f2;
    border: 2px solid #d22856;
    border-radius: 10px;
    top: 28px;
    right: 35px;
    cursor: pointer;
  }
}

.upload__filter-item:active::after {
  background-color: #d22856;
}

.upload__submit {
  display: flex;
  flex-direction: column;
  padding-top: 41px;
  position: relative;
  margin-left: -3px;

  &::before {
    @include pseudo;
    width: 320px;
    height: 1px;
    background: #dddfe0;
    top: 0;
    left: -20px;
  }
}

.upload__submit-item {
  @include ff(18px, 700, 18px);
  font-family: $fonts;
  border-radius: 35px;
  padding-top: 14px;
  padding-bottom: 17px;
  width: 280px;

  &--post {
    border: 3px solid #d22856;
    color: #d22856;
    margin-bottom: 12px;
    background-color: #f2f2f2;

    &:hover {
      color: #ffffff;
      background-color: #d22856;
    }

    &:active {
      color: rgba(255, 255, 255, .3);
      }
  }

  &--cansel {
    border: 3px solid #000000;
    opacity: 0.1;
    margin-bottom: 41px;

    &:hover {
      opacity: .3;
    }

    &:active {
      color: #ffffff;
      background-color: #000000;
    }
  }
}

@media ($tablet) {

  .upload {
    padding-top: 44px;
  }

  .upload__top {
    @include ff(18px, 400, 30px);
    margin-bottom: 69px;
  }

  .upload__form .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
  }

  .upload__container {
    width: 300px;
    box-sizing: border-box;
    padding: 0 18px 0 25px;
    display: flex;
    flex-wrap: wrap;
  }

  .upload__filter {
    width: 202px;
    margin: 0 0 0 auto;
    margin-top: -13px;
  }

  .upload__filter-item {
    display: block;

    &--active {

      &::after {
        right: 42px;
      }
    }

    &--second {

      &::after {
        right: 163px;
      }
    }

    &--third {

      &::after {
        right: 93px;
      }
    }
  }

  .upload__options {
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 0 25px 0;
    width: 55px;
  }

  .upload__options-item {

    &--contrast {
      margin-left: 2px;
    }

    &--bright {
      margin-left: 3px;
      margin-top: 8px;
    }

    &--temperature {
      margin-left: 8px;
    }
  }

  .upload__submit {
    width: 100%;
    margin-top: 30px;
    width: 260px;
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  .upload__submit-item {

    width: 260px;

    &--post {
    margin-bottom: 24px;
    }

    &--cansel {
      margin-bottom: 52px;
    }
  }
}

@media ($desktop) {

  .upload {
    padding-top: 5px;
  }

  .upload__top {
    margin-bottom: 67px;
  }

  .upload__container {
    width: 410px;
    padding-right: 0;
    padding-left: 0;
    margin-right: 50px;
    margin-top: -2px;
  }

  .upload__form {
    background: #ffffff;
  }

  .upload__form .wrapper {
    background: #f2f2f2;
    width: 940px;
  }

  .upload__img {
    padding-left: 71px;
    margin-bottom: 53px;
  }

  .upload__options {
    padding: 0px 0px 51px 1px;
    margin-top: -4px;
    margin-left: -4px;
    box-sizing: border-box;
    height: 200px;
    padding-bottom: 16px;
  }

  .upload__options-item {

    &--bright {
      margin-top: 0;
    }
  }

  .upload__filter {
    padding-right: 30px;
    width: 288px;
  }

  .upload__filter-item {
    display: block;

    &--active {

      &::after {
        right: 203px;
      }
    }

    &--second {

      &::after {
        right: 27px;
      }
    }

    &--third {

      &::after {
        right: 115px;
      }
    }
  }

  .upload__submit {
    width: 410px;
    display: block;
    padding-top: 119px;
  }

  .upload__submit-item {
    width: auto;
    box-sizing: border-box;
    width: 185px;

    &--post {
      margin-left: 0px;
      margin-right: 35px;
    }
  }
}
