.wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;

  @media ($tablet) {
    width: 660px;
  }

  @media ($desktop) {
    width: 960px;
    padding: 0 10px;
  }
}

.wrapper-mini {

  @media ($desktop) {
    width: 435px;
  }
}

body {
  font-family: $fonts;
}
